.buildpath
.DS_Store
.editorconfig
.env
.gitignore.swp
.phpunit.result.cache
.project
.remote-sync.json
.rnd
.settings
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor